/* Main page */
body{   
    background-color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
li{
    font-weight: bold;
}
.main-title{
    font-size: 50px;
    border-bottom: 20px;
    border-color: aqua;
    padding: 50px;
    background-color: #e78e2149;
    border-radius: 50px;
}
.item{
    background-color: rgb(196, 196, 11);
    border: 20px;
    border-color: rgb(236, 214, 12);
    border-radius: 10px;
    margin:5px 40vw;
    list-style: none;

}
.main-list{
    background-color: rgba(250, 235, 215, 0.342);
    display: inline;
    
}
/* Recipes */
img{
    max-width: 50%;   
}
.intro{
    text-align: left;
    font-size: 24px;
}

.ingredients,
.steps{
    text-align: left;
    margin: 8px 50;
    list-style:circle;
}
.ingredients h3,
.steps h3 {
    font-size: 25px;
}
nav{
    background-color: blueviolet;
    text-align: left;
    max-width: fit-content;
    border-radius: 3px;
    
}
.nav-item{
    color: white;
    font-weight: 800;
    font-size: 18px;
}